   <ion-content class="background-image">
  <ion-content>
    <div class="background-image">
      <ion-icon name="arrow-back-circle-outline" style="height:50px;width:55px;color:white;"></ion-icon>
      <ion-icon name="heart-circle-outline" style="height:50px;width:55px;margin-left:230px;color:white;"></ion-icon>
      <ion-icon name="search-circle-outline" style="height:50px;width:55px;color:white;"slot="end"></ion-icon>
      </div>
    </ion-content>
 </ion-content>
  <ion-card>
  <ion-item>
  <h1 >Pista House Biriyani</h1>
  </ion-item>
  <ion-item>
    <h3>Biriyani|North Indian</h3>
    <img src="/assets/icon/star (1).png" alt="" style="height:20px;width:20px; margin-left: 40px;">4.2 (Rating)
      </ion-item>
      <h5>Btm Layout 1km| 30 mins delivery</h5>
      <ion-item>
      <ion-toggle :checked="true" slot="start"></ion-toggle> &nbsp; Only Veg
      <div class="square">
        <input type="radio" id="radioButton" name="radioGroup">
        <label for="radioButton"></label>
      </div>

      <ion-button color="light" class="curved-button" slot="end">
        <ion-icon name="person-add-outline"></ion-icon>
        Group order
      </ion-button>
    </ion-item>
    <ion-accordion-group :multiple="true" :value="['first', 'third']">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label> <h1>Most Popular</h1></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>
            <h4 style="font-weight: bolder;">Shah Ghouse 
              <br>chicken <br>
              dum biryani  </h4><br>
             <p style="margin-top: 130px; margin-left: -120px;"> <img src ="/assets/icon/rupee symbol.png" style="height:20px;width:20px; margin-left: 10px;">400 </p>
             <ion-card style="height: 80px; width: 100px; position: relative;" slot="end">
              <div style="position: relative;">
                <ion-img src="https://media.assettype.com/freepressjournal/import/2015/07/paradise-hotel.com_.png"></ion-img>
                
                <div class="centered-counter">
                  <ion-button color="light" class="count">
                  <button (click)="decrementCounter()" class="counter-button">-</button>
                  <span>{{ counter }}</span>
                  <button (click)="incrementCounter()" class="counter-button">+</button>
                </ion-button>
                </div>
              </div>
            </ion-card>
            
          </ion-item>
          <ion-item>
            <h4 style="font-weight: bolder;">Shah Ghouse 
              <br>chicken <br>
              dum biryani  </h4><br>
             <p style="margin-top: 130px; margin-left: -120px;"> <img src ="/assets/icon/rupee symbol.png" style="height:20px;width:20px; margin-left: 10px;">400 </p>
             <ion-card style="height: 80px; width: 100px; position: relative;" slot="end">
              <div style="position: relative;">
                <ion-img src="https://media.assettype.com/freepressjournal/import/2015/07/paradise-hotel.com_.png"></ion-img>
                <button class="centered-button">Menu</button>
              </div>
            </ion-card>
            
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
<ion-button id="present-alert" color="dark">View Cart(2 Items)</ion-button>
  <ion-alert trigger="present-alert" class="custom-alert" header="Are you sure?" :buttons="alertButtons"></ion-alert>

</ion-card> 

  