
ion-content {
    --background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLJg2XyekEqyP6w1xeRZG9QyKzrpGB84cFPleQR5RUdIlbQ1S3s2R4svsNQI8hzeFsTw8&usqp=CAU') no-repeat center center / cover;
   
  }
  h1{
    font-weight: bold;
  }
 #present-alert{
    width: 100%;
 }
 ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }

  h2{
    font-weight: bolder;
    margin-left: 10px;
  }


 