
<ion-card-content>
  <h1><ion-icon name="close-outline" class="plus"></ion-icon></h1>
  <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQRktgQXWxuYz_6lK83a7FvGDtUzsvUG7CderhCDmJgg_kUj73N" class="img">
  <h1>Order placed!!</h1>
  <h2>Order ID</h2>
  <p>#3033784794224</p>
  <ion-grid>
    <ion-row>
      <ion-col>Accept your order delivery with OTP</ion-col>
      <ion-col size="auto">7548
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
<ion-card-content class="button">
<button class="btn">Track Order</button>
<button class="btn-1">Close</button>
</ion-card-content>
