h1{
    font-weight:bold;
    
}
.cl{
    background-color: rgb(236, 203, 169);
    height: 150px;
    width:380px;
}
.ion-card-title{
    font-weight:bolder;
}
// .bar{
//     width:50px;
//   margin-left: 180px;
// }
.ya{
    height: 35px;
    width:35px
    
}
.ba{
    width:120px;
    margin-left:150px;

}
.bar{
    width:50px;
   margin-left: 180px;
}