<ion-card-content>
  <p>Delivery Now</p>
  <ion-item>
<h1>Hsr Layout</h1>&nbsp; <ion-icon name="chevron-down-sharp"></ion-icon>
<ion-icon name="person-circle-outline" style="height:50px;width:50px;" slot="end"></ion-icon>
</ion-item>
</ion-card-content>
<ion-item>
<ion-searchbar color="light" placeholder="search for grocery&essentials"class="change"></ion-searchbar>
  <ion-icon name="mic-outline"slot="end"></ion-icon>
</ion-item>
<ion-grid>
  <ion-row>
<ion-card color="light" style="width:110px;height: 110px;">
  <ion-card-header>
    <ion-card-subtitle>Grocery & Essentials</ion-card-subtitle>
    <img class="img"  alt="Grocery & Essentials items" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLauL5ZFfmIaALaHtoLavN4ANnDsYaELPvRw&s"/>
   
  </ion-card-header>
</ion-card>
<ion-card color="light" style="width:110px;height: 110px;">
    <ion-card-header>
      <ion-card-subtitle>Meat & Fish</ion-card-subtitle>
      <img class="img"  alt="Meat & Fish" src="https://c8.alamy.com/comp/PE855R/antipasto-set-platter-isolated-on-white-background-cold-smoked-meat-plate-with-sausage-sliced-hamprosciuttobaconolivesbasil-copy-space-top-vie-PE855R.jpg" />
     
    </ion-card-header>
  </ion-card>
  <ion-card color="light" style="width:110px;height: 110px;">
    <ion-card-header>
    <ion-card-subtitle>Pharmacy</ion-card-subtitle>
      <img class="img"  alt="Pharmacy products" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMXENGgv1hLQ-K0_bKR66tSPf9XKCfG_Ealw&s" />
     </ion-card-header>
  </ion-card>

  
<ion-card color="light" style="width:110px;height: 110px;">
  <ion-card-header>
    <ion-card-subtitle>Pet supplies</ion-card-subtitle>
    <img class="img"  alt="Pet supplies items" src="https://www.petwholesaleusa.com/cdn/shop/files/PetWholesaleUSA_Top_Selling_Wholesale_Pet_Supplies_400x400.jpg?v=1705605645" />
   </ion-card-header>
</ion-card>
<ion-card color="light" style="width:110px;height: 110px;">
    <ion-card-header>
      <ion-card-subtitle>Flowers</ion-card-subtitle>
      <img class="img"  alt="Flower boccas" src="https://storage.sg.content-cdn.io/in-resources/681a68de-dbbb-4b58-b791-628cb23647e8/Images/ProductImages/Small/25%20Red%20Roses%20Bouquet-1.jpg" />
     </ion-card-header>
  </ion-card>
  <ion-card color="light" style="width:110px;height: 110px;">
    <ion-card-header>
    <ion-card-subtitle>Gifts</ion-card-subtitle>
      <img class="img"  alt="Gift boxes" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrZfvC4UV6uUxBhv749P86ytRTjtxOUHW0LQ&s" />
     </ion-card-header>
  </ion-card>
  </ion-row>
</ion-grid>
<ion-card class="cl">
  <ion-card-header>
    <ion-card-title>20% OFF</ion-card-title>
    <ion-card-subtitle>On all store parchases</ion-card-subtitle>
   </ion-card-header>
  <ion-button color="dark blue;">Order Now</ion-button>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgpwl58ZRKthdDWTIrfXfRotxmZ018t6liJ7T47c4ZPZozjOLyDZTnUcZb7xIHp6M1rag&usqp=CAU"
   style="margin-left: 250px;height: 200px;width:250px;margin-top: -100px; backdrop-filter:remove;"/> 
</ion-card>
<ion-progress-bar type="indeterminate" color="dark" class="bar"></ion-progress-bar>
<ion-item>
<h1>Hot deals</h1>
<ion-icon name="arrow-forward-circle-outline" slot="end" class="ya"></ion-icon>
</ion-item>
<ion-grid>
  <ion-row>
<ion-card color="light" style="width:110px;height: 110px;">
  <ion-card-header>
    <img class="img"  alt="grocery products" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJi0porQX2mbMartkgHRxkOZmd5I9hxHsSog&s" />
    <span style="position: absolute; top: 5px; right: 7px; background-color: rgba(37, 155, 2, 0.7); color: white; padding: 2px 5px; border-radius: 5px;">10% OFF</span>
   </ion-card-header>
</ion-card>
<ion-card color="light" style="width:110px;height: 110px;">
  <ion-card-header>
    <img class="img"  alt="chips" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDxJcOik19rzvZwRVN4nJg3qNa7RDUxAU8uw&s" />
    <span style="position: absolute; top: 5px; right: 7px; background-color: rgba(37, 155, 2, 0.7); color: white; padding: 2px 5px; border-radius: 5px;">10% OFF</span>
   </ion-card-header>
</ion-card>
<ion-card color="light" style="width:110px;height: 110px;">
  <ion-card-header>
    <img class="img"  alt="chocklets" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxJZUdCSoyOf26wgokbto4LAQUW-9t0cyNlCc6qVL7htRWq5cTtSS9yNgtH6Z8ddp6tbI&usqp=CAU" />
    <span style="position: absolute; top: 5px; right: 7px; background-color: rgba(37, 155, 2, 0.7); color: white; padding: 2px 5px; border-radius: 5px;">10% OFF</span>
   </ion-card-header>
</ion-card>
</ion-row>
</ion-grid>
<ion-tabs>
  <ion-tab-bar >
    <ion-tab-button tab="home">
      <ion-icon name="home" style="height:32px;width:32px;"></ion-icon>Home</ion-tab-button>
     <ion-tab-button tab="food"> 
    <img src = "assets\food.png" style="height:35px;width:35px;"/>
    Food
    </ion-tab-button> 
    <ion-tab-button tab="mart">
      <img src = "assets/mart.png" style="height:35px;width:35px;">
      Mart
    </ion-tab-button>
    <ion-tab-button tab="dine in">
      <img src = "assets/dinein.png" style="height:35px;width:35px;">
     Dine In
    </ion-tab-button>
    <ion-tab-button tab="courier">
      <img src = "assets/courier.png" style="height:35px;width:35px;">
      Courier
    </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>  
