<ion-card-content>
    <p>Delivery Now</p>
  <ion-item>
<h1>Hsr Layout</h1>&nbsp; <ion-icon name="chevron-down-sharp"></ion-icon>
<ion-icon name="person-circle-outline" style="height:50px;width:50px;" slot="end"></ion-icon>
</ion-item>
</ion-card-content>
<ion-item>
<ion-searchbar color="light" placeholder="search for grocery&essentials"class="change"></ion-searchbar>
  <ion-icon name="mic-outline"slot="end"></ion-icon>
</ion-item>
<ion-content>
  <ion-grid>
    <ion-row>
  <ion-card color="light" style="width:110px;height: 110px;">
    <ion-card-header>
      <ion-card-title>Food</ion-card-title>
      <ion-card-subtitle>20 minutes</ion-card-subtitle>
      <img class="img" alt="food items"  src="https://c8.alamy.com/comp/GKBMF7/cheeseburger-menu-GKBMF7.jpg"/>
     
    </ion-card-header>
  </ion-card>
  <ion-card color="light" style="width:110px;height: 110px;">
      <ion-card-header>
        <ion-card-title>Mart</ion-card-title>
        <ion-card-subtitle>20 minutes</ion-card-subtitle>
        <img class="img"  alt="mart-grocery items" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQij-Sezhy8-ofnL0dyNihHxNCqwRHgZp2351hsuuHfTs8svYYN5vERO9RhAG23yBHKva0&usqp=CAU" />
       
      </ion-card-header>
    </ion-card>
    <ion-card color="light" style="width:110px;height: 110px;">
      <ion-card-header>
        <ion-card-title>Courier</ion-card-title>
      <ion-card-subtitle>20 minutes</ion-card-subtitle>
        <img class="img"  alt="couriers" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQipP1i7k-A17mmS0-ZtCx523KYnprAC0EpLw&s" />
       </ion-card-header>
    </ion-card>
  <ion-card color="light" style="width:110px;height: 110px;">
    <ion-card-header>
      <ion-card-title>Dine In</ion-card-title>
      <ion-card-subtitle>20 minutes</ion-card-subtitle>
      <img class="img"  alt="dine in options" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsyK1LoMZfChYtwcNl03VB6qW_NR3KhqHUNGWzLzLOxsrnfc6H0mh2TuYLJ6uZaacuyog&usqp=CAUhttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsyK1LoMZfChYtwcNl03VB6qW_NR3KhqHUNGWzLzLOxsrnfc6H0mh2TuYLJ6uZaacuyog&usqp=CAU" />
     </ion-card-header>
  </ion-card>
  <ion-card color="light" style="width:240px;height: 110px;">
      <ion-card-header>
        <ion-card-title>Gold Membership</ion-card-title>
        <ion-card-subtitle>Free delivery on all orders</ion-card-subtitle>
        <img class="img"  alt="golden membership cards" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz_bwsNFOYqwfx8WuOhOpyg8XVC7IFKdxHeg&s" style="margin-left: 100px;height:100px;width:100px;margin-bottom: 50px;" />
       </ion-card-header>
    </ion-card>
    </ion-row>
  </ion-grid>
  <ion-card class="cl">
    <ion-card-header>
      <ion-card-subtitle>Get upto</ion-card-subtitle>
      <ion-card-title>25% OFF</ion-card-title>
      <ion-card-subtitle>On all store parchases</ion-card-subtitle>
     </ion-card-header>
    <ion-button color="dark blue;">Order Now</ion-button>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCak_HKKPKOihFOIM3TneRomxbH8HCKCC_45MPes8_C0cWiZNV5IZZcgvM7DjghHhyNLM&usqp=CAU"
     style="margin-left: 250px;height: 130px;width:13mar0px;margin-top: -100px; backdrop-filter:remove;"/> 
  </ion-card>
  <ion-progress-bar type="indeterminate" color="dark" class="bar"></ion-progress-bar>
<h2>Popular Restaurents</h2>
<ion-grid>
    <ion-row>
  <ion-card color="light" style="width:150px;height: 250px;">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <img class="img"  alt="north indian food" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3BT8ai9V68p50ltRUbDm4sIc9xBu2eGfRaw&s"/>
     </ion-card-header>
     <h6>Momos</h6>
     Chinese Fastfood
 <img src="/assets/icon/star (1).png" alt="" style="height:20px;width:20px; margin-right: 60px;" > 4.2 Rating
   
     <ion-card-content>
     </ion-card-content>
       </ion-card>
  <ion-card color="light" style="width:150px;height: 120px;">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <img class="img"  alt="fry pieces" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFRtHfJArS-2tmxiXGaJuSOlEry694rgoe9v3dszf-1d1IBSN8rHVlTUz1SmEWYcK4kfg&usqp=CAU" />
       </ion-card-header>
    </ion-card>
    <ion-card color="light" style="width:150px;height: 120px;">
      <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
        <img class="img"  alt="food items" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-rIRJq3l9oaJinlF4-Zp01PKfSBfjcCYwoA&s" />
       </ion-card-header>
    </ion-card>
  </ion-row>
  </ion-grid>

  <ion-item>
  <h2>Grocery deals</h2>
  <ion-icon name="arrow-forward-circle-outline" slot="end" class="arr"></ion-icon>
</ion-item>
<ion-grid>
  <ion-row>
<ion-card color="light" style="width:110px;height: 110px;">
  <ion-card-header>
    <img class="img"  alt="grocery products" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJi0porQX2mbMartkgHRxkOZmd5I9hxHsSog&s" />
   
    <span style="position: absolute; top: 5px; right: 7px; background-color: rgba(37, 155, 2, 0.7); color: white; padding: 2px 5px; border-radius: 5px;">10% OFF</span> 
    </ion-card-header>
</ion-card>
<ion-card color="light" style="width:110px;height: 110px;">
  <ion-card-header>
    <img class="img"  alt="chips" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDxJcOik19rzvZwRVN4nJg3qNa7RDUxAU8uw&s" />
    <span style="position: absolute; top: 5px; right: 7px; background-color: rgba(37, 155, 2, 0.7); color: white; padding: 2px 5px; border-radius: 5px;">10% OFF</span>
   </ion-card-header>
</ion-card>
<ion-card color="light" style="width:110px;height: 110px;">
  <ion-card-header>
    <img class="img"  alt="ice crems" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZksLMFKceuqOYd3d0wQaQIZ3BurfASBDV-mMwcep_xzkVbHihIGpIs04OTUXvcV53i0k&usqp=CAU" />
    <span style="position: absolute; top: 5px; right: 7px; background-color: rgba(37, 155, 2, 0.7); color: white; padding: 2px 5px; border-radius: 5px;">10% OFF</span>
   
   </ion-card-header>
</ion-card>
</ion-row>
</ion-grid> 
<h2>Best to Dine In</h2>
 <ion-grid>
  <ion-row>
<ion-card color="light" style="width:150px;height: 120px;">
  <ion-card-header>
<img class="img"  alt="Restaurents" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAV7sUUAcqHV6b-oUgs7VXSj-kTeqjXA8OFg&s"/>
</ion-card-header>
</ion-card>
<ion-card color="light" style="width:150px;height: 120px;">
    <ion-card-header>
      <img class="img"  alt="Restaurents" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGRJmrg-JfayDpxdP3QE0_eF2xhvXrcUjE1Q&s" />
     </ion-card-header>
  </ion-card>
  <ion-card color="light" style="width:150px;height: 120px;">
    <ion-card-header>
      <img class="img"  alt="Restaurents" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlprBl6qY38buIbMQUgvApoXG1oJ1H28ZYtg&s" />
     </ion-card-header>
  </ion-card>
</ion-row>
</ion-grid>
</ion-content>



 <!-- <ion-tabs>
  <ion-tab-bar >
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>Home</ion-tab-button>
     <ion-tab-button tab="food"> 
    <img src = "assets\food.png" style="height:35px;width:35px;"/>
    Food
    </ion-tab-button> 
    <ion-tab-button tab="mart">
      <img src = "assets/mart.png" style="height:35px;width:35px;">
      Mart
    </ion-tab-button>
    <ion-tab-button tab="dine in">
      <img src = "assets/dinein.png" style="height:30px;width:30px;">
     Dine In
    </ion-tab-button>
    <ion-tab-button tab="courier">
      <img src = "assets/courier.png" style="height:30px;width:30px;">
      Courier
    </ion-tab-button>
    </ion-tab-bar>
</ion-tabs> --> 




