p{
    margin-left: 20px;
   
}

h1{
    font-weight:bold;
    
}
.cl{
    background-color: rgb(236, 203, 169);
    height: 150px;
    width:380px;
}
.bar{
    width:50px;
  margin-left: 180px;
}
.arr{
    height: 30px;
    width:30px;
}
h6{
    font-weight:bold ;
}
