h1{
  font-weight: bolder;
  margin-left: 15px;
  color: black;
}
h3{
  font-weight: bolder;
  margin-left: 15px;
  color: black;
}
.curved-button {
  --border-radius: 20px; 
  --background-color: transparent;

  
}
.check{
  height: 20px;
  width: 20px;
  margin-left: 20px;
}
.time{
  font-size:small;
  --margin-top:-35px;
}
.buton{
  width: 100%;
  margin-top: 140px;

}
h4{
  text-align: center;
  
  color: black;
}