<ion-card style="height: 800px;">

      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Sort & Filter</h1>
        <ion-icon name="close-outline" style="font-weight: bolder; height: 30px; width: 30px; color: black;"></ion-icon>
      </div>
      <h3>Veg/Non-Veg</h3>
      <div style="display: flex; gap: 20px; margin-left: 20px;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="height: 20px; width: 20px;">&nbsp;
          <label class="form-check-label" for="flexCheckDefault">PureVeg</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" style="height: 20px; width:20px;">&nbsp;
          <label class="form-check-label" for="flexCheckChecked" style="height: 20px;">Non-Veg</label>
        </div>
      </div>
      <h3>Rating</h3>
  <div style="display: flex;"> 
<ion-button color="dark" class="curved-button" style="margin-left: 10px; width: auto;">
  <ion-icon name="star-outline"></ion-icon>3.5
</ion-button>
<ion-button color="dark" class="curved-button" style="margin-left: 10px; width: auto;">
  <ion-icon name="star-outline"></ion-icon>4.0
</ion-button>
<ion-button color="dark" class="curved-button" style="margin-left: 10px; width: auto;">
  <ion-icon name="star-outline"></ion-icon>4.5
</ion-button>
<ion-button color="dark" class="curved-button" style="margin-left: 10px; width: auto;">
  <ion-icon name="star-outline"></ion-icon>5.0
</ion-button>
</div>
<h3>Delivery Time</h3>
<div style="display: flex; margin-top:50px;">
<input type="checkbox" class="check">&nbsp;&nbsp;
<label for="" class="time">Less than 50 mins</label>
<input type="checkbox" class="check">&nbsp;&nbsp;
<label for="" class="time">Less than 50 mins</label>
</div>
<div style="margin-top: 20px;">
<input type="checkbox" class="check">&nbsp;&nbsp;
<label for="" class="time">Less than 50 mins</label>
</div>
<h3>Price</h3>
<div style="display: flex;"> 
  <ion-button color="dark" class="curved-button" style="margin-left: 10px; width: auto;">
    <img src="/assets/icon/rupee symbol.png" alt="" style="height:20px;width:20px; filter: invert(1);"> 
  </ion-button>
  <ion-button color="dark" class="curved-button" style="margin-left: 10px; width: auto;">
    <img src="/assets/icon/rupee symbol.png" alt="" style="height:20px;width:20px; filter: invert(1);"> 
    <img src="/assets/icon/rupee symbol.png" alt="" style="height:20px;width:20px; filter: invert(1);"> 
  </ion-button>
  <ion-button color="dark" class="curved-button" style="margin-left: 10px; width: auto;">
    <img src="/assets/icon/rupee symbol.png" alt="" style="height:20px;width:20px; filter: invert(1);"> 
    <img src="/assets/icon/rupee symbol.png" alt="" style="height:20px;width:20px; filter: invert(1);"> 
    <img src="/assets/icon/rupee symbol.png" alt="" style="height:20px;width:20px; filter: invert(1);"> 
  </ion-button>
  
  </div>

<ion-button color="dark" class="buton">Apply</ion-button>
<h4>Clear all filters</h4>
</ion-card>

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
