<ion-card-content>
  <h2><ion-icon name="close-outline" class="plus"></ion-icon></h2>
  <img alt="" src="/assets/nature.jpg" style="width: 130px;height: 130px;border-radius: 60px;margin: 10px 110px;"/>

  <h1><b>How was mayark's delivery</b></h1>
  <p>ertyuiojhgfdfghjklrtdfghjklfgttryuioyujtryrtyuiopurtyuioiuy</p>
  <p class="p1">rtyufghjkloiuytrtyuiifgfghg</p>
  
  <ion-grid class="yellow">
    <ion-row>
      <ion-col><img src="/assets/icon/star (1).png"class="star"></ion-col>
      <ion-col><img src="/assets/icon/star (1).png"class="star"></ion-col>
      <ion-col><img src="/assets/icon/star (1).png"class="star"></ion-col>
      <ion-col><img src="/assets/icon/star (1).png"class="star"></ion-col>
      <ion-col><img src="/assets/icon/star.png"class="star"></ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>

  <ion-card class="box">
    rytuirtyuiopiuyrtyuiofgjkl
  </ion-card>
<hr style="padding: 5px;color: black;">
  <ion-card-content>
    <ion-row>
      <ion-col>
        <div class="horizontal-line"></div>
      </ion-col>
    </ion-row>
    
  
  <h1><b>AdsTip</b></h1>
<!-- <ion-grid>
  <ion-row class="size">
    <ion-col class="charge">100</ion-col>
    <ion-col push-md="3" class="charge">200</ion-col>
    <ion-col push-md="3"class="charge">300</ion-col>
    <ion-col pull-md="6"class="charge">Delivered</ion-col>
  </ion-row>
</ion-grid>
</ion-card-content> -->
<ion-card-content class="abc">
    <button class="sp">100</button>
    <button class="sp">200</button>
    <button class="sp">300</button>
    <button class="spp">Delivered</button>
</ion-card-content>
<ion-card-content class="button">
  <button class="btn">Delivered</button>
  <button class="btn-1">Close</button>
  </ion-card-content>

