h2{
    font-weight: bold;
    margin-left: 10px;
}
p{
    margin-left: -70px;
    margin-top: 130px;
    
    }
  
  a{
    text-decoration: none;
    color: rgb(17, 237, 17);
  }
  h3{
    font-weight: bold;
    margin-left: 0px;
}
ion-label{
    margin-left: 20px;
}