ion-content {
    --background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLJg2XyekEqyP6w1xeRZG9QyKzrpGB84cFPleQR5RUdIlbQ1S3s2R4svsNQI8hzeFsTw8&usqp=CAU') no-repeat center center / cover;
  }
  h1{
    font-weight: bold;
  }
  h3{
    font-weight: bold;
  }
 ion-col{
  font-weight:bold;
  }
 
  